body {
    background-color: rgb(159, 193, 243); 
    color: black;
}
header {
background-color: rgb(96, 134, 134);
color: rgb(240, 221, 221);
font-family: 'Times New Roman', Times, serif;
    padding: 0.5px;
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 1.5px;
    border: 1.5px solid rgb(34, 33, 36);
}

div.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;


}
.txt {
    text-align: center;
}